/* Site background color */
body { 
  background-color: #fffffe; /* background color */
  color: #444444; /* default text color */
}

a, a:link, a:visited,
li a.active {
  color: #02acd9; /* Link color */
  transition: color .3s;
  -moz-transition: color .3s; /* Firefox 4 */
  -webkit-transition: color .3s; /* Safari and Chrome */
  -o-transition: color .3s; /* Opera */
}

blockquote {
  border-left-color: #00b6e6; /* BASE color */
}

p.dropcap:first-letter, span.dropcap:first-letter {
  background-color: #00b6e6; /* BASE color */
  color: #ffffff; /* Slider text */
}

a div.caption.none p { 
  color: #444444; /* default text color */
}

body.not-front img {
  border-color: #e9e9e9; /* Secondary color */
}

.resp-video iframe,
.resp-video object,
.resp-video embed {
  border-color: #e9e9e9; /* Secondary color */
}

/* Allows for color change of links for modern browsers */

a:hover {
  color: #e9e9e9; /* Secondary color */
}

#flexslider_views_slideshow_front_features_version_2-block.flexslider-views-slideshow-main-frame li.flexslider-views-slideshow-main-frame-row div div.slider div.slider-image a:hover {
	color: #00b6e4; /* slider text background color */
}

/* TOP ZONE */

div#zone-top-wrapper {
	background: #111111; /* top zone bg */
	border-bottom-color: #00b6e6; /* BASE color */
	color: #fffffd; /* top zone text */
}

#zone-header {
  border-bottom-color: #e9e9e9; /* Secondary */
}

#zone-branding.zone {
  border-bottom-color: #e9e9e9; /* Secondary */
}

div#zone-content.zone article.node {
	border-bottom-color: #e9e9e9; /* Secondary */
}

aside#region-sidebar-second section.block, 
aside#region-sidebar-first section.block, 
aside#region-sidebar-second div.block, 
aside#region-sidebar-first div.block {
	border-bottom-color: #e9e9e9; /* Secondary */
}
 
footer#section-footer.section, div#zone-postscript-wrapper {
  color: #fffffc; /* Footer text color */
  background: #111110; /* Footer bg color */
}

footer#section-footer.section a.return-to-top {
  background-color: #00b6e6; /* BASE color */
  color: #fffffc; /* Footer text color */
}

div#zone-postscript.zone div.region-inner div.block-inner h2 {
  color: #fffffc; /* Footer text color */
}

div#zone-postscript-wrapper.zone-wrapper {
  border-top-color: #00b6e6; /* BASE color */
}

div#region-footer-second div.region-inner {
  border-top-color: #e9e9e9; /* Secondary color */
}

aside#region-sidebar-second {
  border-top-color: #e9e9e9; /* Secondary color */
}

#zone-content ul.menu li,
#zone-content ul.featured-content-block-content li {
  border-bottom-color: #e9e9e9; /* Secondary color */
}

ul#superfish-1 li a { 
  border-bottom-color: transparent;
  color: #111112; /* Title color */
  -moz-transition: all .3s; /* Firefox 4 */
  -webkit-transition: all .3s; /* Safari and Chrome */
  -o-transition: all .3s; /* Opera */
  transition: all .3s;
}

ul#superfish-1 li a:hover {
  color: #00b6e6; /* BASE color */
}

ul#superfish-1.sf-style-default li ul li {
  border-bottom-color: #e9e9e9; /* Secondary color */
  border-right-color: #e9e9e9; /* Secondary color */
  border-left-color: #e9e9e9; /* Secondary color */
  background-color: #fffffe; /* background color */
}

ul#superfish-1.sf-style-default li ul li.first {
  border-top-color: #e9e9e9; /* Secondary color */
}

ul#superfish-1.sf-style-default li ul li a:hover {
  color: #00b6e6; /* BASE color */
}

ul#superfish-1.sf-style-default li ul {
  border-left-color: #e9e9e9; /* Secondary color */
}

div#block-delta-blocks-page-title.block {
  border-bottom-color: #e9e9e9; /* Secondary color */
}

hgroup h2.site-name, hgroup h2.site-name a, 
hgroup h1.site-name, h1.site-name a, 
hgroup .site-slogan, .main-menu li a, 
hgroup .site-name a:hover, hgroup .site-name a,
.sf-menu.sf-style-default a, .sf-menu.sf-style-default a:visited,
h1, h2, .sidebar h2.block-title,
.node h2.node-title,
.block h2.block-title,
.region-content h1,
h2.title, h2.post-title, h2.post-title a, h3, h4, h5, h6, h1 a, h2 a, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, 
h4 a, h4 a:link, h4 a:visited, h5 a, h5 a:link, h5 a:visited, h6 a:visited, h6 a, h6 a:link,
div.blog-view-right h2 a {
 color: #111112; /* Title color */
}

aside#region-sidebar-second section.block,
aside#region-sidebar-first section.block,
aside#region-sidebar-second div.block,
aside#region-sidebar-first div.block {
  border-top-color: #00b6e6; /* BASE color */
}

div#twitter_block_results.twitter_block div.item-list ul li {
  border-bottom-color: #e9e9e9; /* Secondary color */
}

div#twitter_block_results.twitter_block div.item-list ul li.last {
  border-bottom-color: transparent;
}

.pager li.pager-current {
  background: none;
  background-color: #00b6e6; /* BASE color */
  border-color: #00b6e6; /* BASE color */
  color: #ffffff; /* Content background */
}

.pager li a {
  background: none;
  color: #00b6e6; /* BASE color */
}

.pager li a:hover {
  background: none;
  color: #e9e9e9; /* Secondary color */
}

/* comment colors */

#block-commentsblock-comment-form-block.block,
section#block-views-about-the-author-block.block, 
section#block-featured-content-1.block {
	border-top-color: #e9e9e9; /* Secondary color */
}

#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div.comment {
  background-color: #fffffe; /* background color */
  border-left-color: #00b6e6; /* BASE color */
}

/* form colors */

fieldset {
  border-color: #e9e9e9; /* Secondary color */
}

input[type='text'], textarea, select,
input[type="date"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"] {
  border-color: #e9e9e9; /* Secondary color */
}

div.form-item label span.form-required {
  color: #00b6e6; /* BASE color */
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
  color: #444444; /* default text color */
}

/* slider colors */

#flexslider_views_slideshow_front_features_version_2-block div.slider-text,
#flexslider_views_slideshow_front_features_version_2-block div.slider-text h2 {
  color: #ffffff; /* slider text */
}

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-text-background {
  background-color: #00b6e4; /* slider text background color */
}

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-image img {
  background-color: #00b6e4; /* slider text background color */
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, div.blog-view-right h2 a:hover {
  color: #e9e9e9; /* Secondary color */
}

.breadcrumb-separator {
  color: #e9e9e9; /* Secondary color */
}

/* views */

div.view-content div.views-row {
  border-bottom-color: #e9e9e9; /* Secondary color */
}

div.view-content div.views-row-last {
  border-bottom-color: transparent;
}

/* Hide color module 'Preview' title */

.color-form h2 {
  display: none !important;
}

/* Make labels on settings form wider */

.color-form label {
  width: 300px !important;
}

@media all and (max-width: 500px) {

ul#superfish-1.sf-style-default li a,
ul#superfish-1 li a.active, ul#superfish-1 li a:hover {
  border-color: #e9e9e9; /* Secondary color */
}

ul#superfish-1 li a.active, ul#superfish-1 li a:hover {
  background-color: #e9e9e9; /* Secondary color */
}

}