/* BASIC SETTINGS */

html,body {
  height:100%;
}

body {
  font-size: 1em;
}

/* set this to get the background of TinyMCE to match your content background */
body.mceContentBody, body.mceContentBody div#page.page {
  border-top: none;
}

div#page.page {
  margin: 0 auto;
  overflow: hidden;
}
 
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 0;
}
 
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}
 
h1, h1.page-title {
   font-size: 38px;
}

h1#page-title {
  margin-bottom: 0;
}

body.front #breadcrumb {
  display: none;
}

h2 {
   font-size: 34px;
}

.site-name, .site-slogan {
	  margin-top: 10px;
}

.uppercase {
	text-transform: uppercase;
}

body.page-admin h2 div#page h2 {
  font-size: 30px !important;
}

h2.block-title, h2.block-title a {
   font-size: 26px;
}

div#region-content h2.block-title, div#region-content h2.block-title a {
   font-size: 26px;
}

h2.site-name, h1.site-name {
  font-size: 48px;
  margin-top: 0;
}

h2.post-title, h2.post-title a {
  margin: 0;
}

h3 {
  font-size: 28px;
}

body.page-admin h3 {
  font-size: 24px;
}

.profile h3 {
  clear: both;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

body.page-admin h4 {
  font-size: 20px;
}
 
a:link, a:visited {
  text-decoration: none;
}

strong {
  font-weight: 600;
}
 
p, span, li, p span, div {
  font-size: 1em;
}

p.dropcap:first-letter, p span.dropcap:first-letter {
	border-radius: 1em;
  display: block;
  float: left;
  font-size: 1.375em;
  margin: 3px 6px 0 0;
  padding: .75em;
}

blockquote {
  border-left: 3px solid;
  margin-left: 20px;
  padding-left: 10px;
}

blockquote p {
  font-size: 14px;
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
}

article.node img,
div.view-blog img {
  max-width: 99%;
}

body.not-front img {
  border: 1px solid;
}

.image-left {
  float: left;
  margin: 5px 15px 5px 0;
  max-width: 100%;
}

.image-right {
  float: right;
  margin: 5px 0 5px 15px;
  max-width: 100%;
}

div.caption p {
  font-size: 12px;
  margin: -10px 0 15px 0;
  max-width: 100%;
} 

div.caption.none p {
  margin: 20px 0;
  max-width: 100%;
}

div.field-name-body div.field-item p div.caption p {
  font-size: 10px;
  margin: 10px 0 0 0;
  max-width: 100%;
}

p.two-column-first, div.two-column-first, span.two-column-first {
  display: block;
  float: left;
  width: 47%;
}

p.two-column-last, div.two-column-last, span.two-column-last {
  display: block;
  float: right;
  width: 47%;
}

body.node-type-article div.caption.none p {
  margin: 0 0 20px 0;
}

#block-views-latest-blog-posts-block.block div.caption p {
display: none;
}

.small-text {
  font-size: 10px;
}

.flexslider {
  background: none;
  border: none;
  border-radius: 0;
}

article.node footer.submitted {
	font-size: 13px;
}

p.resp-video, div.resp-video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
}

.resp-video iframe,
.resp-video object,
.resp-video embed {
  border: 1px solid;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ALL ZONES */

#zone-top,
#zone-branding,
#zone-menu,
#zone-header,
#zone-preface,
#zone-content,
#zone-postscript,
#zone-footer {
 
}

.region {
  min-height: 0;
}

.container-12,
.container-24 {
	max-width: 1180px !important;
}

body.responsive-layout-normal .container-12,
body.responsive-layout-normal .container-24 {
	max-width: 940px !important;
}


/* FORMS */

input[type='text'], select, textarea {
    
}

input[type='text'], textarea, select,
input[type="date"], input[type="email"], input[type="password"], input[type="search"], input[type="tel"] {
  border: 1px solid;    
  height: 30px;
  width: 80%;
}

textarea {  
  height: 200px;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
-moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(center top , #FFFFFF 0%, #DDDDDD 100%) repeat scroll 0 0 transparent;
  border-color: #DDDDDD #BBBBBB #999999;
  border-image: none;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  color: #444;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  outline: 0 none;
  overflow: visible;
  padding: 5px 10px 4px;
  text-shadow: 0 1px 1px #FFFFFF;
  width: auto;   
}

div.form-actions {
  text-align: right;
}

button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #eeeeee;
}

fieldset {
  border: 1px solid;
  padding: 15px;
}
  
legend span {
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
}

header#section-header {
	width: 100%;
}

/* TOP ZONE */

div#zone-top-wrapper {
	border-bottom: 3px solid;
	width: 100%;
}

div#zone-top-wrapper {
	padding-bottom: 10px;
  padding-top: 10px;
}

div#zone-top-wrapper img {
	border: none;
	margin-left: 7px;
}

div#region-top-second {
	float: right;
}

div#zone-top-wrapper div#block-block-12.block p {
	margin-bottom: 0;
	text-align: right;
}

/* BRANDING ZONE */

#zone-branding-wrapper {
	
}

#zone-branding.zone {
  padding-bottom: 30px;
  padding-top: 30px;
}

div.logo-img img {
	border: none;
}

#zone-branding.zone {
  border-bottom: 1px solid;
}

/* MENU ZONE */

#zone-menu-wrapper {

}

#zone-menu.zone {
  padding-bottom: 20px;
  padding-top: 20px;
}

div#region-menu,
div#block-superfish-1 {
  float: right;
}

div#block-superfish-1.block div.block-inner div.content ul#superfish-1.sf-menu li ul {
  width: 12em;
}

ul#superfish-1.sf-menu li {
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 20px;
  background-color: white;
}

ul#superfish-1 li a { 
  background-color: white;
}

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  background-image: none;
}

ul#superfish-1.sf-menu li ul li {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  font-size: 14px;
  margin-left: 0;
  margin-right: 10px;
  padding: 15px 5px 15px 10px;
}

ul#superfish-1 li ul li.first {
  border-top: 1px solid;
}

ul.main-menu li a.active, ul.main-menu li a:hover,
ul#superfish-1 li a.active, ul#superfish-1 li a:hover {
 
}

ul.main-menu li ul li a, ul.main-menu li ul li a.active, ul.main-menu li ul li a:hover,
ul#superfish-1 li ul li a, ul#superfish-1 li ul li a.active, ul#superfish-1 li ul li a:hover {
  border-bottom: none;
}

ul.main-menu li ul li a { 
  border-bottom: none;
}

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  top: 30px;
}

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
  padding: 0 !important;
}

#block-superfish-1.block div.block-inner div.content ul#superfish-1 li ul li ul {
  margin-top: -1px;
}

/* HEADER ZONE */

#zone-header {
  border-bottom: 1px solid;
}

div#zone-header-wrapper.zone-wrapper {
	
}

div#zone-header.zone {
	
}

/* front slider styles */

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-image {
  height: auto;
  max-width: 100%;   
  position: relative; 
}

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-image img {  
  border-bottom: 5px solid;
  height: auto;
  margin: 0 auto;
}


div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-text-background {
  bottom: 0;  
	left: 0;
  padding: 10px 25px;
  position: absolute; 
  z-index: 2;
}

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-text h2, div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-text p {
  margin: 0;
}

/* PREFACE ZONE */

div#zone-preface-wrapper.zone-wrapper {
  padding-top: 30px;	
}


div#block-delta-blocks-page-title.block {
  line-height: 270%;
}

/* front widget styles */

div.views-view-grid.grid-4.grid-4,
div.views-view-grid.grid-3.grid-3,
div.views-view-grid.grid-2.grid-2,
div.views-view-grid.grid-1.grid-1 {
  width: 100%;
}

div.views-view-grid div.gridCol {
  float: left;
  position: relative;
}

div.views-view-grid.grid-4 div.gridCol {
  float: left;
  padding-right: 5.3%;
  position: relative;
  width: 21%;
}

div.views-view-grid.grid-4 div.gridCol.col-4.last  {
  float: right;
  margin-right: 0;
  padding-right: 0;
}

div.views-view-grid.grid-3 div.gridCol {
  float: left;
  padding-right: 6%;
  position: relative;
  width: 29.3%;
}

div.views-view-grid.grid-3 div.gridCol.col-3.last  {
  float: right;
  margin-right: 0;
	padding-right: 0;
}

div.views-view-grid.grid-2 div.gridCol {
  float: left;
  padding-right: 8%;
  position: relative;
  width: 46%;
}

div.views-view-grid.grid-2 div.gridCol.col-2.last {
  padding-right: 0;
}

div.views-view-grid.grid-1 div.gridCol {
  float: left;
  position: relative;
  width: 100%;
}

div#block-views-front-widgets-block.block div.field-content a img {
  margin-bottom: 20px;
}

#block-views-front-widgets-block.block div.views-field-field-widget-image {
  text-align: left;
}

div.feed-icon a.feed-icon img {
  border: none;
}
 
/* CONTENT ZONE */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
  margin-left: 0 !important;
}

ul.menu li,
#zone-content ul.featured-content-block-content li {
	margin: 0;
	padding: .875em;
}

#zone-content ul.menu li ,
#zone-content ul.featured-content-block-content li {
	border-bottom: 1px solid;
  list-style: none;
}

#zone-content ul.menu li.last,
#zone-content ul.featured-content-block-content li:last-child {
	border-bottom: none !important;
}
 
div#zone-content-wrapper.zone-wrapper {
  padding-bottom: 30px;
}
 
div#zone-content.zone {
  padding-top: 30px;
}

div#zone-content.zone article.node {
  padding-bottom: 10px;
}

#breadcrumb {
   width:100%;
   height:70px;
}

section#block-views-about-the-author-block.block,
section#block-featured-content-1.block {
	border-top: 1px solid;
}
 
ul.breadcrumbs {
   margin:20px 0 50px 0;
}
 
ul.breadcrumbs li {
   list-style:none;
   margin:0;
   padding:0 5px 0 5px;
   float:left;
   text-transform:uppercase;
   font-size:0.8em;
}

ul.breadcrumbs li.breadcrumb-last {
   background:none;
 }

/* blog page - no content, just view so no need for padding */

div#zone-content.zone article#node-page-32.node {
  height: 0;
  padding-bottom: 0;
}

/* general views styles */

div.view-content div.views-row {
  border-bottom: 1px solid;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

div.views-row-last {
  border-bottom: none;
}


/* blog view styles */

div.view-blog div.views-field-nothing { 
  clear: both;
  margin-bottom: 25px;
  overflow: hidden;
}

div.blog-view-left {
  float: left;
  padding-top: 10px;
  position: relative;
  width: 75%;
}

div.blog-view-right p, div.blog-view-left span, 
div.blog-view-right span strong {
  font-size: 12px;
  margin: 0 0 10px 0;
}

div.blog-view-right div.item-list ul li {
  font-size: 12px;
  margin: 0;
}

article.node div.content div.group-header div.field div.field-items div.field-item {
  max-width: 100%;
}

div.blog-view h2 {
  padding: 0;
}

div.blog-view-right {
  float: right;
	padding-top: 10px;
  position: relative;
	text-align: right;
  width: 25%;
}

/* recent blog posts view */

section#block-views-latest-blog-posts-block.block {
  width: 100%;
}

#block-views-latest-blog-posts-block.block h4 {
  font-size: 24px;  
  margin-bottom: 0;
}

/* article styles */

div#region-content article.node div.field-type-image div.field-item img {
  margin-bottom: 20px;
}

body.node-type-article div.field-type-image div.field-item img {
  margin-bottom: 20px;
}

body.node-type-article div.group-left {
  float: left;
  position: relative;
  width: 25%;
}

body.node-type-article div.group-right {
  float: left;
  position: relative;
  width: 75%;
}

body.node-type-article div.group-left p, 
body.node-type-article div.group-left p span span,
body.node-type-article div.group-left span,
body.node-type-article div.group-left div.field-item a {
  font-size: 11px;
  margin: 0 0 10px 0;
}

body.node-type-article div.group-left div.field-name-field-tags {
  margin-bottom: 0;
}

/* user page */

body.page-user div.field-name-field-profile-image {
  float: left;
  margin-bottom: 30px;
  position: relative;
  width: 10%;
} 

body.page-user div.field-name-field-bio {
  float: right;
  margin-bottom: 30px;
  position: relative;
  width: 89%;
}

/* sidebar */

aside#region-sidebar-second {
  padding-top: 15px;
}

aside#region-sidebar-second section.block,
aside#region-sidebar-first section.block,
aside#region-sidebar-second div.block,
aside#region-sidebar-first div.block {
  border-top: 3px solid;
  margin-bottom: 50px;
  padding: 5px 15px 30px 15px;
}

/* twitter block */

a.twitter_block.profile_image {
  display: none;
}

a.twitter_block.profile_image span {
  font-size: 11px;
}

.twitter_block_user img {
  height: auto;
}

div.twitter_block div.tweet_text {
  display: block;
  position: relative;
  width: 100%;
}

div#twitter_block_results.twitter_block div.item-list ul li {
	border-bottom: 1px solid;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 0;
}

div#twitter_block_results.twitter_block div.item-list ul li.last {
	border-bottom: none;
}

div.twitter_block div.twitter_block_user a.twitter_block span.twitter_block_user_name {
  display: none;
}

/* about the author */

#block-views-about-the-author-block {
  float: left;
	padding: 30px 0;
  position: relative;
}

#block-views-about-the-author-block div.views-field-field-profile-image {
  float: left;
	padding-right: 1.5%;
  position: relative;
  width: 12%;
}

#block-views-about-the-author-block div.views-field-field-bio {
  float: left;
  position: relative;
  width: 83%;
}

#block-views-about-the-author-block div.views-field-field-bio p {
	font-size: 14px;
}

#block-views-about-the-author-block div.block-inner h2.block-title {
  font-size: 28px;
}


/* separator line */

.separator-line {
  border-top: 1px solid;
  height: 1px;
  margin: 30px 0;
  overflow: hidden;
}

/* social sharing */

#block-block-4 {
  padding: 15px 0 30px 0;
  text-align: right;
}

div#block-block-4.block div.block-inner div.content div.fb-like span {
  height: 30px !important;
}

.fb_edge_widget_with_comment,
iframe.twitter-share-button,
#___plusone_0 {
  vertical-align: top;
}

.fb_edge_widget_with_comment {
  margin-right: 10px;
}

ul.pager {
	background: none;
	border: none;
	text-align: right;
}

ul.pager li {
	font-size: 1.25em;
	padding: 1em 0 1em 1em;
}

.pager li.pager-current {
	border: 2px solid;
	border-radius: 2em;
	font-weight: bold;
}

.pager li, .pager li.pager-next, .pager li.pager-previous, .pager li.pager-last, .pager li.pager-first {
	background: none;
	border-right: none;
	border-left: none;
	float: right;
	margin-left: 1em;
	position: relative;
	text-align: right;
}

.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
	width: 80px;
}

.pager li.pager-next {
	right: 0;
}

/* comment styles */

#block-commentsblock-comment-form-block.block {
  border-top: 1px solid;
  clear: both;
  margin-top: 25px;
  padding-top: 30px;
}

div#region-content div.region-inner div.block-inner div.content div.comment {
  margin-top: 25px;
  padding-top: 30px;
}

#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div.comment {
  border-left: 3px solid;
  padding: 10px;
  margin-bottom: 30px;
}

#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div.comment h3,
div#region-content div.region-inner div.block-inner div.content div.comment h3 {
  margin: 0;
  padding: 0 15px;
}

#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div.comment div.content div.field div.field-items div.field-item,
#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div.comment div.submitted,
div#region-content div.region-inner div.block-inner div.content div.comment div.content div.field div.field-items div.field-item,
div#region-content div.region-inner div.block-inner div.content div.comment div.submitted {
  margin: 0;
  padding: 0 15px;
}

#block-commentsblock-comment-form-block.block div#comments.comment-wrapper div.comment div.submitted,
#block-commentsblock-comment-form-block.block div#comments.comment-wrapper div.comment div.submitted span,
div#region-content div.region-inner div.block-inner div.content div.comment div.submitted,
div#region-content div.region-inner div.block-inner div.content div.comment div.submitted span {
  font-size: 11px;
  font-weight: bold;
}

#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div.indented div.comment div.content div.field div.field-items div.field-item,
#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div.comment div.content div.field div.field-items div.field-item,
div#region-content div.region-inner div.block-inner div.content div.comment div.content div.field div.field-items div.field-item {
  margin-top: 15px;
}

#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div div ul.links,
#block-commentsblock-comment-form-block.block div.block-inner div.content div#comments.comment-wrapper div ul.links,
div#region-content div.region-inner div.block-inner div.content div.comment div ul.links {
  clear: both;
  float: right;
}

#block-commentsblock-comment-form-block.block div.caption p,
#region-content div.region-inner div.block-inner div.content div.comment div.user-picture div.caption p {
  display: none;
}

#block-commentsblock-comment-form-block.block div.user-picture,
div#region-content div.region-inner div.block-inner div.content div.comment div.user-picture {
  float: left;
  margin-right: 2%;
  padding-bottom: 100px;
  padding-top: 10px;
  position: relative;
  width: 10%;
}

body.page-comment-reply div#region-content div.region-inner div.block-inner div.content div.comment {
  margin: 0;
  padding: 0;
}

#block-commentsblock-comment-form-block.block div.user-picture img,
div#region-content div.region-inner div.block-inner div.content div.comment div.user-picture img {
  max-width: 60px;
}

#block-commentsblock-comment-form-block.block div.comment div.content div.field div.field-label,
div#region-content div.region-inner div.block-inner div.content div.comment div.content div.field div.field-label {
  display: none;
}

/* POSTSCRIPT ZONE */

div#zone-postscript-wrapper.zone-wrapper {
  border-top: 3px solid;
}

div#zone-postscript.zone {
  padding-top: 20px;
}

div#zone-postscript.zone div div.region-inner {
  padding: 0 20px;
}

div#zone-postscript.zone div div.region-inner div.block-inner h2 {
  font-size: 24px;
}

/* FOOTER */


div#zone-footer-wrapper.zone-wrapper {
	
}

div#zone-footer.zone {
	
}

#region-footer-second,
#region-footer-first {
  padding: 10px 0;	
}

div#region-footer-second div.region-inner {
  padding: 20px 0;
}

#region-footer-second p, #region-footer-second span, #region-footer-second li, 
#region-footer-second p span, #region-footer-second div {
  font-size: 12px !important;
}

/* return to top block */

div#block-block-6.block {
  position: absolute;
  left: 48%;
  bottom: 0;
}

.return-to-top {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
}

.return-to-top:hover {
  opacity: .85;
}

.return-to-top:hover {
  /*background-image: url(../images/up-arrow.png);*/
}

/* RESPONSIVE DESIGN */

@media all and (max-width: 1220px) {
.container-12,
.container-24 {
	width: 940px !important;
}

}


@media all and (max-width: 980px) {
	
.container-12,
.container-24 {
	width: 700px !important;
}

div.views-view-grid.grid-4 div.gridCol,
div.views-view-grid.grid-3 div.gridCol,
div.views-view-grid.grid-2 div.gridCol,
div.views-view-grid.grid-1 div.gridCol {
  clear: both;
  width: 100%;
}

article.node h2 {
	font-size: 22px;
}

p, span, li, p span, div {
  font-size: 14px;
}

div.views-view-grid.grid-4 div.gridCol {
  float: left;
  padding-right: 8%;
  position: relative;
  width: 46%;
}

div#block-views-front-widgets-block.block .grid-4 div.gridCol.col-2 {
  padding-right: 0;
}

div#block-views-front-widgets-block.block .grid-4 div.gridCol h4 {
  font-size: 22px;
}

div#block-views-front-widgets-block.block .grid-3 div.gridCol h4 {
  font-size: 18px;
}

div#zone-postscript.zone div div.region-inner div.block-inner h2 {
  font-size: 18px;
}

div#zone-postscript.zone div div.region-inner div.block-inner div.content p {
  font-size: 13px;
}

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-text-background {
  padding: 5px 15px;
}

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-text h2 {
  font-size: 24px;
}

}

@media all and (max-width: 740px) {
	
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
	margin-right: 0;
}
	
#zone-top,
#zone-branding,
#zone-menu,
#zone-header,
#zone-preface,
#zone-content,
#zone-postscript,
#zone-footer {
  margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}

aside#region-sidebar-second section.block, 
aside#region-sidebar-first section.block, 
aside#region-sidebar-second div.block, 
aside#region-sidebar-first div.block {
	border-bottom: 1px solid;
	margin-bottom: 30px;
	padding: 0;
}

.container-12,
.container-24 {
	width: 580px !important;
}

article.node h2 {
	font-size: 28px;
}

div#zone-branding.zone div#region-menu {
  float: left;
  margin: 30px 0 0 0;
}

div#region-menu div.region-inner div#block-superfish-1.block div.block-inner div.content ul#superfish-1.sf-menu li.first {
  margin-left: 0;
}

#block-views-front-widgets-block.block div.views-field-field-widget-image {
	display: block;
	float: left;
	text-align: left;
	width: 100%;
}

div#zone-postscript.zone div div.region-inner {
	padding: 0;
}


}

@media all and (max-width: 680px) {

div.views-view-grid div div.gridCol {
  clear: both;
  width: 100%;
}

}

@media all and (max-width: 620px) {
	
.container-12,
.container-24 {
	width: 500px !important;
}

}

@media all and (max-width: 520px) {
	
.container-12,
.container-24 {
	width: 420px !important;
}

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-text-background {
  padding: 0 5px;
}

div#flexslider_views_slideshow_main_front_features_version_2-block div.slider-text h2 {
  font-size: 16px;
}

}

@media all and (max-width: 500px) {

/* mobile menu styles */

#zone-menu.zone {
  padding-bottom: 10px;
  padding-top: 10px;
}

div#zone-branding.zone div#region-menu {
  width: 100%;
}

div#region-menu, div#block-superfish-1 {
  float: left;
}

div#region-menu ul#superfish-1.sf-menu,
div#region-menu div#block-superfish-1.block {
  width: 100%;
}

ul#superfish-1.sf-menu li a,
ul#superfish-1 li a.active, ul#superfish-1 li a:hover {
  border: 1px solid;
  padding: 5px;
}

ul#superfish-1.sf-menu li {
  font-size: 24px;
  margin-left: 0;
  padding: 5px 10px 5px 0;
  width: 45%;
}

ul#superfish-1.sf-menu li ul {
  display: none !important;
}

div.blog-view-right,
body.node-type-article div.group-right {
  float: right;
  width: 20%;
}

/* featured content + author blocks */

#block-featured-content-1 {
  float: left;
  clear: both;
  width: 100%;
}

#block-views-about-the-author-block {
  float: left;
  width: 100%;
}

div#block-views-front-widgets-block.block div.gridCol h4,
div.blog-view-right h2,
body.node-type-article h1.page-title,
body.node-type-article h3 {
  font-size: 24px !important;
}

}

@media all and (max-width: 440px) {
  .container-12,
  .container-24 {
    width: 320px !important;
  }
}

@media all and (max-width: 380px) {
  .container-12,
  .container-24 {
    width: 95% !important;
  }
}

