/* ---------- Color form ----------- */
#color_scheme_form #palette .form-item {
  width: 28em;
}
#color_scheme_form #palette .form-item label {
  width: 20em;
}
 
/* ---------- Preview Styles ----------- */
 
html.js #preview {
  clear: both;
  float: none !important;
}
 
/* Overall */
#preview {
  border-top: 5px solid;
  font: 300 14px/1 serif;
  margin: 0 0 50px 0;
  padding: 0 30px;
  width: 100%;
}
 
/* Header */
#preview-header {
  overflow: hidden;
  padding: 0;
}

#preview-header h1 {
  float: left;
}

#slider {
  background-image: url('color-module-image-preview.jpg');
  background-repeat: none;
  border-bottom: 2px solid;
  height: 210px;
}

#slider-text {
  padding: 10px;
  height: 30px;
  float: left;
  position: relative;
  margin-right: 40px;
  margin-top: 160px;
  width: 200px;
}
 
/* Main menu */
#preview-main-menu {
  padding: 1.5em 0;
}

#preview-content {
  float: left;
  position: relative;
  width: 70%;
}

#secondary-color {
  float: right;
  margin-top: 30px;
  margin-left: 2%;
  padding: 0 4%;
  position: relative;
  width: 20%;
}

#preview-main, #preview-header, #preview-footer {
  padding: 0 15px;
}

#preview-footer {
  padding-bottom: 15px;
  padding-top: 15px;
}

#preview-main-menu ul {
  margin: 0;
}

#preview-main-menu ul li a {
  padding: 0.5em 1em;
}
 
/* Main content */

#preview h1,
#preview h2 {
  clear: both;
  font-weight: 300;
  line-height: 1.6em;
}
#preview h1 {
  font-size: 2.5em;
}