<div id="preview">
 <div id="content-wrapper"> 
  <div id="preview-header">
    <div id="preview-site-name"><h1>Sparta Theme</h1></div>
  </div>

<div id="slider">
  <div id="slider-text">This is the slider text</div>
</div>
 
  <div id="preview-main" class="clearfix">
    
   <div id="secondary-color">
        <h2>Secondary color</h2>
          <p class="preview-content">Sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div id="preview-content">
      <h2 id="preview-page-title">Titles Color</h2>
      <div id="preview-node">
        <div>
          <p class="preview-content">Sit amet, <a href="#">consectetur adipisicing elit</a>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea
          commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.</p>
          <p class="preview-content">Sit amet, <a href="#">consectetur adipisicing elit</a>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea
          commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.</p>
        </div>
      </div>
    </div>
  </div>

<div id="preview-footer">
  <h2 id="footer-title">Footer Heading</h2>
    <p>Sit amet, <a href="#">consectetur adipisicing elit</a>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea
          commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.</p>
  </div>
</div>
</div>